<div class="wrapper">
  <div class="profile-sidebar">
    <%= render "shared/profile-sidebar" %>
  </div>
  <div class="profile-content">
    <%= render "shared/bio" %>
    <%= render "shared/testemonials" %>
  </div>
  <div class="connections">
    <%= render "shared/friendlist" %>
    <%= render "shared/communities" %>
  </div>
</div>
